.NextMeeting-resume{
    background: #FFF;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    justify-content: space-between;
    padding: 1.25vw;
}

.NextMeeting-resume p{
    text-align: left;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    font-size: 0.8vw;
}