@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=swap');

.table.table-borderless{
    width: 45.2vw;
    height: 5.85vw;
    opacity: 1;
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    margin-left: 1vw;
    margin-right: 0.5vw;
}

.table th.numero{
    width: 3vw;
    height: 5.85vw;
    vertical-align: middle;
}

.circuloTopico{
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    text-align: center;
    align-self: center;
    background: #0FC976 0% 0% no-repeat padding-box;
    opacity: 1;
    line-height: 2vw;

    font-size: 1.25vw;     
    font-family: Roboto;
    font-weight: bold;
    color: #FAFAFA;
    opacity: 1;
}

.table th.legenda{
    width: 12.3vw;
    height: 5.85vw;
    vertical-align: middle;
}

.legenda h4{
    text-align: left;
    font-weight: Bold;
    font-size: 1vw;
    line-height: 1.2vw;
    color: #707070;
    opacity: 1;
}

.resumo{
    width: 25.35vw;
    height: 5.85vw;
}

.resumo p{
    text-align: left;
    font-size: 0.8vw;
    font-family: Roboto;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}

.duracao{
    width: 4.55vw;
    height: 5.85vw;
    background: #EDEDFF 0% 0% no-repeat padding-box;
    border-left: 1px solid #E0E0E0;
    opacity: 1;
}

.duracao .tempoNumero{
    text-align: center;
    font-size: 1.5vw;
    line-height: 1.8vw;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}

.duracao .tempo{
    text-align: center;
    font-size: 0.9vw;
    line-height: 0.95vw;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}